/* Apply a background image with hospital-related visuals */
body {
  background: url("../images/med.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* Style the navigation bar */
nav {
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
}

nav h1 {
  color:  #04BFBF;
  font-size: 32px;
  font-weight: bold;
  margin: 0;
  text-shadow: 1px 1px  #017a7a;
}

/* Style the main heading */
h1 {
  color: #ffffff;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  text-shadow: 2px 2px #000000;
}

/* Style the form */
form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #aaaaaa;
  width: 50%;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 900;
  color:  #04BFBF;
}

select {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #eeeeee;
  margin-bottom: 20px;
}

/* Style the submit button */
button[type="submit"] {
  background-color: #04BFBF;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
}

button[type="submit"]:hover {
  background-color: #057070;
}
button{
  background-color: #04BFBF;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #057070;
}

/* Style the footer */
footer {
  background-color: #ffffff;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
}

footer p {
  margin: 0;
}

footer a {
  color: #FF5733;
}
